<style>
    .text {
        max-width: 600px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }
</style>
<h1>About Us</h1>
<p class="text">Welcome to our no-signup random chat platform, where spontaneity meets privacy. We believe in making connections without the fuss of registrations, providing a seamless space for engaging conversations. Your privacy is our top concern, and we want you to chat with confidence, knowing that we prioritize the security of your information. Rest assured, we do not leak IP addresses, ensuring a safe and enjoyable experience for everyone. Join us in embracing the simplicity of random chats and the assurance that your privacy is our utmost priority.</p>