<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/cwas.css">
<div class="start">
    <h1>Chat with a stranger.</h1>
    <p class="text">Welcome to SparkChat, the ultimate no-signup, no IP leaks, no bans chat platform. Experience spontaneous conversations without the usual constraints. With DuoChat, there's no need for registrations – simply dive into engaging discussions with strangers while maintaining your privacy. Our state-of-the-art security measures guarantee a ban-free environment, ensuring a worry-free space for open dialogue. Connect anonymously and securely on DuoChat, where freedom meets privacy for an unmatched chatting experience.</p>
</div>
<button class="startChat">New Chat</button>
<div style="display: none;" class="container">
    <div class="chat"></div>
    <div class="controls">
        <button class="newChat">New Chat</button>
        <input placeholder="Type something..." class="input">
        <button class="send">
            <img src="assets/send.png">
        </button>
    </div>
</div>
<script src="js/cwas.js"></script>